/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.montserrat-regular {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
  width: 13px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e0031cf;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #4f0254e5;
}

::-webkit-scrollbar-track {
  background-color: rgb(226, 179, 235);
}