/* General Styles */
:global(html, body) {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Montserrat', sans-serif;
    /* Ensure proper rendering and touch zooming */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  /* Container Styles */
  .registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: url('../assets/background_pic.png') center center/cover no-repeat fixed;
    padding-top: 40px;
  }
  
  .closeIcon {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
  }
  
  .closeIconImage {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
    margin-top: -10px;
  }
  
  /* Register Box Styles */
  .registerBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    background-color: #462F4C;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-top: 40px;
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .registerForm {
    padding: 2rem 3rem 2rem 3rem;
    flex: 1;
  }
  
  .registerHeader {
    margin-bottom: 20px;
  }
  
  /* Input Field Styles */
  .inputField {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: 'Montserrat', serif;
  }
  
  /* Button Styles */
  .registerButton {
    width: 100%;
    padding: 15px 0;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #261432;
  }
  
  .registerButton:hover {
    background-color: #351b45;
  }
  
  /* Login Box Wrapper and Styles */
  .loginBoxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .loginBox {
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    background-color: #432C49;
    width: 100%;
    border-top: 1px solid #ffffff;
    border-radius: 0 0 20px 20px; /* Match the border radius of registerBox */
    padding: 30px;
  }
  
  .loginLink {
    margin-left: 5px;
    font-weight: bold;
    text-decoration: underline;
    color: #9E50A7;
  }
  
  .loginLink:hover {
    color: #EC3EFF;
  }
  
  /* Section Separators */
  .orSection {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  