/* src/components/Navbar.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #462f4c;
  padding: 15px 30px 15px 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.site-title {
  font-size: 32px;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-button1,
.nav-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #462f4c;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", serif;
  padding: 10px 16px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 5px;
}

.nav-button1:hover,
.nav-button2:hover {
  background-color: #53385b;
}

.nav-button1 img,
.nav-button2 img {
  width: 20px;
  margin-right: 10px;
}

.nav-button:last-child {
  margin-right: 0;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b3131;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", serif;
  padding: 10px 16px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 5px;
}

.logout-button:hover {
  background-color: #b16666;
}

.logout-button img {
  width: 20px;
  margin-right: 10px;
}