/* src/components/Navbar.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #462F4C;
}
  
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.site-title {
  font-size: 32px;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-button1, .nav-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #593485;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", serif;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 5px;
}

.nav-button1 img,
.nav-button2 img {
  width: 20px;
  margin-right: 5px;
}

.nav-button:last-child {
  margin-right: 0;
}
  