.sidebar {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    border-right: 2px solid #462F4C;
    background-color: rgba(0, 0, 0, 0.3);
}


.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    object-fit: cover;
}

.profile-section span {
    font-size: 16px; 
    color: #FFF; 
    margin-bottom: 50px;
}

.sidebar-links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    color: #FFF; 
    font-size: 24px; 
    font-weight: 700; 
    transition: background 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.sidebar-link:hover, .sidebar-link.active {
    background-color: #291455; 
    color: white;
}

.sidebar-link .icon {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

/* Make the Overview link initially active */
.sidebar-link.active {
    background-color: #1d0c44; 
    border-left: 4px solid #3f1685; 
    color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        max-width: 100%;
        border-right: none;
        border-bottom: 2px solid #462F4C;
        padding-bottom: 20px;
    }

    .profile-pic {
        width: 80px;  /* Smaller profile picture */
        height: 80px;
    }

    .sidebar-link {
        font-size: 18px;  /* Smaller font size */
        padding: 10px 15px;
    }

    .sidebar-link .icon {
        width: 25px;  /* Smaller icon size */
    }
}
