:global(html, body) {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .overview-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 80vh;
    overflow: auto;
  }
  
  .overview-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Layout Container */
  .layout-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Each chart takes up 50% */
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Chart Containers */
  .overview-graph {
    padding: 30px;
    width: 100%;
    height: 400px; /* Set a fixed height or adjust as needed */
    border: 1px solid #462F4C;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .overview-graph canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  .total-applications {
    padding: 30px;
    text-align: center;
    border: 1px solid #462F4C;
    border-radius: 8px;
  }
  
  .total-number {
    font-size: 5rem;
    font-weight: bold;
  }
  
  .status-details {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
  }
  
  .info-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .recent-added,
  .total-applications,
  .goal {
    padding: 30px;
    border: 1px solid #462F4C;
    border-radius: 8px;
    text-align: center;
  }
  
  .upcoming-date,
  .goal-status {
    font-size: 2rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p, li {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .layout-container {
      grid-template-columns: 1fr;
    }
  
    .overview-graph {
      grid-column: 1 / -1;
      height: auto;
    }
  
    .info-row {
      grid-template-columns: 1fr;
    }
  
    .upcoming-date,
    .goal-status,
    .total-number {
      font-size: 1.5rem;
    }
  }
  