:global(html, body) {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
    /* Ensure proper rendering and touch zooming */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.overview-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.overview-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.layout-container {
    display: grid;
    grid-template-columns: 1fr 300px; /* 1fr for the graph to take remaining space, 300px fixed for stats */
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.overview-graph {
    grid-column: 1 / 2;
    padding: 20px;
    max-height: 600px;
    height: auto;
    width: 100%;
    border: 1px solid #462F4C;
    border-radius: 8px;
}

.total-applications {
    grid-column: 2 / 3;
    padding: 20px;
    text-align: center;
    border: 1px solid #462F4C;
    border-radius: 8px;
}

.total-number {
    font-size: 3rem;
    font-weight: bold;
}

.status-details {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

.info-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.recent-added,
.upcoming,
.goal {
    padding: 20px;
    border: 1px solid #462F4C;
    border-radius: 8px;
    text-align: center;
}

.upcoming-date,
.goal-status {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p, li {
    font-size: 1rem;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .layout-container {
        grid-template-columns: 1fr; 
    }

    .overview-graph,
    .total-applications {
        grid-column: 1 / 2;
        height: auto; 
    }

    .overview-graph {
        height: 300px; 
    }

    .info-row {
        grid-template-columns: 1fr; 
    }

    .upcoming-date,
    .goal-status,
    .total-number {
        font-size: 1.5rem; 
    }
}