:global(html, body) {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
    /* Ensure proper rendering and touch zooming */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.settings-main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: #fff; 
    overflow-y: auto;
    max-height: 85vh; 
}

.settings-header-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: -10px;
    margin-top: -30px;
}

.settings-icon {
    width: 40px;
}

.settings-title {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.settings-profile-section {
    box-sizing: border-box;
    border: 2px solid #462F4C;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.settings-info-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.settings-account-info{
    border: 2px solid #462F4C;
    padding: 15px;
    border-radius: 8px;
    flex: 1; 
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.settings-subtitle {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.settings-user-avatar {
    width: 80px; 
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.settings-upload-button,
.settings-remove-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
    flex: 1; /* Allows both buttons to take equal width */
    border-radius: 8px; /* Unified border radius */
}

/* Specific background colors for each button */
.settings-upload-button {
    background-color: #462F4C;
}

.settings-remove-button {
    background-color: #8B3131;
}

.settings-upload-button img, .settings-remove-button img {
    width: 24px; 
    height: 24px;
}

.settings-input-field {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #462F4C;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    width: 95%;
    font-family: "Montserrat", serif;
    font-size: 14px;
    margin: 10px 0;
}

.settings-submit-button {
    padding: 8px 16px;
    background-color: #462F4C; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Montserrat", serif;
}

@media (max-width: 768px) {
    .settings-profile-section, .settings-info-container {
        flex-direction: column;
        width: 100%;
    }

    .settings-account-info{
        width: 100%;
        margin-top: 10px;
    }

    .settings-upload-button, .settings-remove-button {
        width: 100%;
        justify-content: center;  /* Center button text */
    }

    .settings-input-field {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .settings-header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .settings-icon {
        margin-bottom: 10px;
    }

    .settings-title {
        text-align: center;
        font-size: 24px;  /* Smaller font size for smaller screens */
    }

    .settings-profile-section {
        padding: 15px;
    }

    .settings-account-info, .settings-preferences {
        padding: 10px;
        font-size: 16px;  /* Smaller font size for readability */
    }

    .settings-upload-button, .settings-remove-button {
        padding: 8px 10px;
        font-size: 14px;  /* Smaller font size for buttons */
    }

    .settings-submit-button {
        padding: 6px 12px;
    }
}